.query__input {
  margin-bottom: 20px;
}

.dropdowns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdowns .dropdown {
  width: 20%;
}

.dropdown__button {
  background: transparent;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dropdown__button:hover {
  background: transparent;
  color: black;
}

.dropdown-menu.show {
  width: 100%;
}

.checkboxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.checkboxes__item {
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}
.pagination li {
  margin: 0 0.4rem;
}
.pagination li a {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.pagination li:hover a {
  color: var(--primary);
}
.pagination_active {
  box-sizing: border-box;
  border: 1px solid var(--primary);
  color: var(--primary);
}
.pagination .previous > a,
.pagination .next > a {
  font-size: 1.2rem;
}

.tableHeader {
  white-space: nowrap;
  max-width: 200px;
  cursor: pointer;
}
